<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Design Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/form.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/page.css">
</head>
<body>
  <%- include('layouts/nav'); -%>
  <main>
    <section class="w50">
     
      <form name="shopform" method="Post" action="">
    <p>Hello admin, Welcome to the dashboard!!!</p>
      </form>
    </section>
  </main>
</body>
<%- include('layouts/footer'); -%>